{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}What Causes {{ causedata.title }}{% endblock %}

{% block meta_keywords %}
{% endblock %}

{% block meta_description %}
This page describes the leading causes of {{ causedata.title }}
{% endblock %}

{% block title %}
    What Causes {{ causedata.title }}
{% endblock %}

{% block main %}
    {{ causedata.subject_data|safe }}
    {{ causedata.subject_data_treatment|safe }}
    {{ causedata.subject_data_natural_cures|safe }}
    <hr />
    <h3>Data sources</h3>
    <ul>
    {{ causedata.subject_data_sources|safe }}
    </ul>
{% endblock %}
