{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

<h2>{% trans "Welcome to This Causes" %}!</h2>
<p>{% trans "This Causes is a place where you can lookup the cause of the thing you are curious about. Find out what causes a certain disease, anything related to science, or just about anything you can think of." %}

</p>
<h3>{% trans "Most Recent Cause Lookups" %}</h3>
<ul>
    {% for cause in most_recent %}
        <li><a href="{{ cause.get_absolute_url }}">{{ cause.title }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
